<h1>IKEA Stock Checker - {{selectedStore.name}}</h1>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-2'>
      <div class='form-group'>
        <label for=''>Store</label>
        <select name='' [(ngModel)]='selectedStore' id='' class='form-control'>
          <option value='' [ngValue]='store' *ngFor='let store of stores'> {{store.name}}</option>
        </select>
      </div>
      <div class='form-group'>
        <label for=''>Enter one SKU per line</label>
        <textarea name='' id='' cols='30' rows='10' class='form-control' [(ngModel)]='skuList'></textarea>
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' (click)='fetch()'>Load</button>
      </div>
    </div>
    <div class='col-md-10'>
      <div class='form-group'>
        <label for=''>Search Results</label>
        <input type='text' [(ngModel)]='search' class='form-control'>
      </div>
      <div class='table-responsive'>
        <table class='table table-bordered'>
          <thead>
          <tr>
            <th style='width: 50px'></th>
            <th>Product SKU</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>In Stock</th>
            <th>Restock Date</th>
            <th *ngFor='let forecast of store[0]?.forecast'>{{forecast.date|date:'shortDate'}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td colspan='4'></td>
            <td>Total Items: {{getTotalItems()}}</td>
            <td>Total Price: {{getTotal()|currency}}</td>
            <td colspan='10'></td>
          </tr>
          <tr *ngFor='let t of store | deepFilter:search:["catalogRefs"]'>
            <td><img [src]="t.extraData.mainImage.url + '?f=s'" width='50' alt=''></td>
            <td>{{t.productId}}</td>
            <td>{{t.extraData.name}} {{t.extraData.typeName}}</td>
            <td>{{t.extraData.price}}</td>
            <td>
              <input type='text' class='form-control' [(ngModel)]='t.quantity'>
            </td>
            <td>{{t.quantity * t.extraData.priceNumeral | currency}}</td>
            <td>{{t.stock}}
              <ng-container [ngSwitch]='t.probability'>
                <span *ngSwitchCase='"HIGH"'><i class='bi text-success bi-caret-up-fill'></i></span>
                <span *ngSwitchCase='"MEDIUM"'><i class='bi text-warning bi-caret-right-fill'></i></span>
                <span *ngSwitchCase='"LOW"'><i class='bi text-danger bi-caret-down-fill'></i></span>
              </ng-container>
            </td>

            <td>{{t.restockDate|date:'shortDate'}}</td>
            <td *ngFor='let prob of t.forecast'>
              <ng-container [ngSwitch]='prob.probability'>
                <span *ngSwitchCase='"HIGH"'><i class='bi text-success bi-caret-up-fill'></i></span>
                <span *ngSwitchCase='"MEDIUM"'><i class='bi text-warning bi-caret-right-fill'></i></span>
                <span *ngSwitchCase='"LOW"'><i class='bi text-danger bi-caret-down-fill'></i></span>
              </ng-container>
              {{prob.stock}}
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan='4'></td>
            <td>Total Items: {{getTotalItems()}}</td>
            <td>Total Price: {{getTotal()|currency}}</td>
            <td colspan='10'></td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<style>
  td:first-child {
    padding: 5px;
  }
</style>
